body {
    background: #e6e6e6;
}

.content {
    width: 1200px;
    height: 500px;
    display: block;
    margin: auto;
    border: 2px solid #ccc;
    background: #fff7bc;
    position: relative;
}

#map {
    display: block;
    position: relative;
    width: 80%;
    height: 68%;
    margin: auto;
    margin-top: 78px;
    /*background: #e1f4cc;*/
}

#map #lineX {
    position: absolute;
    display: block;
    height: 2px;
    width: 100%;
    top: 50%;
    background: #000;
}

#map #lineY {
    position: absolute;
    display: block;
    height: 100%;
    width: 2px;
    background: #000;
}

#map .markX {
    display: block;
    position: absolute;
    width: 2px;
    height: 12px;
    top: -5px;
    background: #000;
}

#map .markNumberX {
    display: block;
    position: absolute;
    width: 2px;
    height: 12px;
    top: 5px;
}

#map .markY {
    display: block;
    position: absolute;
    height: 2px;
    width: 12px;
    left: -5px;
    background: #000;
}

#map .markNumberY {
    display: block;
    position: absolute;
    width: 2px;
    height: 12px;
    left: -38px;
}

.sinPixel {
    display: block;
    position: absolute;
    width: 1px;
    height: 1px;
    background: darkred;
}

.sinPulse {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: darkred;
	margin-top: -5px;
	margin-left: -5px;
}

.controller {
    position: absolute;
    right: 0;
    z-index: 1000;
}